/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

body {
    background: url('/portfolio/image/onepiece.jpg') no-repeat center center/cover;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: none;
    object-fit: fill;
}

/* Sidebar */
.sidebar {
    background-color: #111 (36, 29, 29, 0.8);
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.profile-section img {
    object-fit: contain;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #00bcd4;
    margin-bottom: 10px;
}

.profile-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    margin: 0 5px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00bcd4;
}

.sidebar nav ul {
    list-style: none;
    width: 100%;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 10px 20px;
    transition: background 0.3s ease;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
    background: #00bcd4;
    border-radius: 5px;
}



/* Main Content */
.content {
    margin-left: 250px;
    height: 100%;
    padding: 20px;
    flex: 1;
}

#home {
    width: 100%;
    height: 600px;
    background-image: url('/portfolio/image/railegh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.section-home{
    margin-bottom: 40px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
}

.introduction {
    text-shadow: black 2px 2px 2px;
    font-size: 2rem;
    margin-top: 15%;
    color: white;
}

.introduction h4 {
    font-style: italic;
    text-decoration: underline white;
    color: white;
}
@media (max-width: 768px) {
    .introduction {
        font-size: 1.5rem; 
        margin-top: 30%;  
    }
}

@media (max-width: 480px) {
    .introduction {
        font-size: 1rem; 
        margin-top: 60%;  
    }
}

/*About Me*/
.section-about{
    margin-bottom: 40px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
}

.section-about h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #111;
}

.section-about p {
    font-size: 1rem;
    line-height: 1.5;
}

.table-education {
    border: 3px solid #00bcd4;
    text-align: left;
    border-spacing: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .section-about {
        font-size: 1.5rem; 
        margin-top: 10%;  
    }
}

@media (max-width: 480px) {
    .section-about {
        font-size: 1rem; 
        margin-top: 5%;  
    }
}

/*Project*/
.section-projects{
    margin-bottom: 40px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
}

.section-projects h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #111;
}

.section-projects p {
    font-size: 1rem;
    line-height: 1.5;
}

.test {
    width: 70%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.table-projects {
    border: 3px solid #00bcd4;
    text-align: left;
    border-spacing: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .section-projects {
        font-size: 1.5rem; 
        margin-top: 10%;  
    }
}

@media (max-width: 480px) {
    .section-projects {
        font-size: 1rem; 
        margin-top: 5%;  
    }
}

/*Contact*/
.section-contact{
    margin-bottom: 40px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
}

.section-contact h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #111;
}

.section-contact p {
    margin: 10px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}

.map-container iframe {
    border: 0;
    width: 100%;
    height: 300px;
}

@media (max-width: 768px) {
    .section-contact {
        font-size: 1.5rem; 
        margin-top: 10%;  
    }
}

@media (max-width: 480px) {
    .section-contact {
        font-size: 1rem; 
        margin-top: 5%;  
    }
}

/*Footer*/
footer {
    text-align: center;
    padding: 10px;
    background: rgba(36, 29, 29, 0.8);;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
